{% extends 'base.html.twig' %}

{% block title %}Best Youtube Video !
{% endblock %}


{% block body %}
	<div class="mb-5 mt-5" id="add-video">
		<h2>Ajouter une vidéo</h2>
		{{ form(form) }}
		</div>
	{% endblock %}
