{% extends 'base.html.twig' %}

{% block title %}Best Youtube Video !
{% endblock %}

{% block body %}

	<h2>{{ name }}</h2>
	<div class="container d-flex justify-content-center">{{ url|youtube_player|raw }}</div>

{% endblock %}
